.status_tag {  
    &.installed,
    &.open,
    &.done { background:  #29c7b3; }  
    &.complete, 
    &.published { background:  #7DB942; }  
    &.draft,
    &.processing { background: orange; } 
} 